
obj 파일 모음/house2.obj
obj 파일 모음/house.obj
.vs/take_a_picture/v17/ipch/AutoPCH/3e3334d3131a7d61/MAIN.ipch
.vs/take_a_picture/v17/ipch/AutoPCH/5b224e25b9f9ba9d/MAIN.ipch
.vs/take_a_picture/v17/ipch/AutoPCH/68cbaf60c2e8207b/MAIN.ipch
